* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

body {
  display: flex;
  background: radial-gradient(circle at bottom, #2d0b3d, #2c0161, #0b0b0f 30%);
  color: #fff;
  min-height: 100vh;
}

aside {
  width: 250px;

}

.sidebar {
  width: 250px;
  background: #0e0e12;
  padding: 20px;
  display: flex;
  flex-direction: column;
  top: 0;
  position: fixed;
  height: 100%;
}

.sidebar .logo {
  font-size: 18px;
  font-weight: bold;
  color: #e74cff;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.sidebar ul li {
  padding: 6px 0px;
  cursor: pointer;
  font-size: 14px;
  color: #a1a1aa;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px -3px;
}

.sidebar ul li:hover {
  color: #fff;
}

.sidebar ul li.active {
  color: #fff;
  font-weight: 600;
}

.sidebar ul li span {
  display: block;
  font-size: 10px;
  color: #666;
  margin-left: 90px;
}

.sidebar .section {
  font-size: 14px;
  color: #555;
  margin: 15px 0 5px;
}

.sidebar .new-playlist {
  margin-left: auto;
  padding: 6px 14px;
  border: none;
  border-radius: 8px;
  background: #2a2a2a;
  color: #fff;
  cursor: pointer;
  font-size: px;
  width: 100%;
  transition: background 0.3s ease, color 0.3s ease;
}

.sidebar .new-playlist:hover {
  opacity: 0.8;
  background: #2f0b3d;
}



/*search bar*/

.main {
  flex: 1;
  padding: 20px 40px;
  overflow: auto;
  margin-left: 3%;
}

header {
  display: flex;
  justify-content: left;
  align-items: center;

}

header input {
  width: 70%;
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  font-size: 14px;
}

.profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 11%;
}

.playlist-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  margin-top: 35px;
}

.playlist-header h1 {
  font-size: 70px;
  font-weight: bold;
}

.playlist-header p {
  font-size: 14px;
  color: #aaa;
  margin-top: 35px;
}

.playlist-header .edit {
  margin-left: 26%;
  margin-top: 35px;
  padding: 6px 14px;
  border: none;
  border-radius: 25px;
  background: transparent;
  outline: 1px solid #666;
  outline-offset: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
}

.albums {
  display: flex;
  gap: 30px;
  margin-top: 15px;
}

.albums .item {
  text-align: ce;
  width: 14%;
}

.albums img {
  border-radius: 14px;
  width: 140px;
  height: 140px;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  ;
}

.albums img:hover {
  transform: scale(1.05);
}

.albums p {
  font-weight: 600;
  margin-top: 5px;
}

.albums span {
  font-size: 12px;
  color: #aaa
}

.play-all button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: none;
  background: radial-gradient(circle at 30% 30%, #e94057, #8a2387);
  color: white;
  font-size: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-inline-start: 16px;
  /* efek glow */
  box-shadow: 0 0 25px rgba(233, 64, 87, 0.6),
              0 0 40px rgba(138, 35, 135, 0.4);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.play-all button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 35px rgba(233, 64, 87, 0.9),
              0 0 60px rgba(138, 35, 135, 0.7);
}
.play-all .icon {
  font-size: 32px;
  margin-left: 5px; 
}
.play-all p {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-justify: center;
  transform: translateY(50%) translateX(15%);
  
}

.wrapper {
  display: flex;
  gap: 40px;
  margin-top: 6%;
}

.container {
 width: 60%;
}

.suggestions.container {
  width: 35%;
}

.songs ul li img, .suggestions ul li img{
  width: 40px;
  height: 40px;
  border-radius: 6px;
  margin-right: 10px;
}


.songs .header {
  display: flex;
  justify-content: space-between;
}

.show-all {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 20px;
  color: white;
  padding: 5px 15px;
  cursor: pointer;
}

.songs .header h2,
.suggestions h2 {
  font-size: 18px;
  margin: 0 0 15px;
  
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: flex;
  align-items: center;
  margin: 12px ;
  position: relative;
  transition: 0.3s;
}

ul li :hover h4{
  color: #8a2387;
}

ul li .active h4{
  transform: scale(1);
  color: #8a2387;
}

ul li h4 {
  margin: 0;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

ul li h4 :hover {
  color: #8a2387;

}

ul li p {
  margin: 0;
  font-size: 12px;
  opacity: 0.7;
}

ul li span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.player {
  display: flex;
  align-items: center;
  background: rgba(30, 30, 30, 0.6);
  padding: 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: white;
  width: 100%;
  position: fixed;      /* Biar nempel di layar */
  bottom: 0; 
}

#cover {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  margin-right: 15px;
}

.info {
  flex: 1;
}

#judul {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

#artist {
  margin: 0;
  font-size: 12px;
  opacity: 0.8;
}


#progress {
 height: 100%;
  width: 0%;
  background: #c748ee;
  border-radius: 3px;
  right: 4%;
}

.progress-container {
  flex: 1.5;
  height: 3px;
  background: #444;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  right: 4%;
  
}

.progress-bar {
  height: 100%;
  width: 30%; 
  background: rgb(209, 188, 255);
  border-radius: 4px;
}

.controls {
  transform: translateX(-150%);
}

.controls button {
  background: none;
  border: none;
  cursor: pointer;
}

.progress-container span {
  font-size: 13px;
  color: grey;
  transform: translateX(-300%)
}

#duration {
  text-align: center;
  transform: translateX(-300%);
  font-size: 13px;
  color: grey;
}

#durasi-gerak {
    font-size: 13px;
    text-align: center;
    color: grey;
    transform: translateX(-200%);
}



